html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
	margin:0;
	padding:0;
	border:0;
	text-decoration: none;	
    font-family:"微软雅黑", Arial, Helvetica, sans-serif;
    list-style: none;
}
@font-face {font-family: 'iconfont';
    src: url('../iconfont/iconfont.eot'); /* IE9*/
    src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
body{
	width: 100%;
}
section,footer{
	margin: 0 auto;
	width: 1280px;
}
body >section{
	overflow: hidden;
}
.new-show{
	position: relative;
	float: left;
	width: 424px;
	height: 520px;
	border: 1px solid #fff;
	background-color: #e74f4d;
	font-size: 24px;
	color: #fff;
	transition: all 1s;
}
.new-show:hover{
	background-color: #fff;
	color: #e74f4d;
}
.new-show:hover #left-image-girl,
.new-show:hover #mid-image-girl
{
	left: 426px;
	opacity: 1;
	z-index: 9;
}
.new-show:hover #right-image-girl{
	left: -426px;
	opacity: 1;
	z-index: 9;
}

.new-show:hover .triangle{
	border-color: transparent transparent transparent #fff;
}
.new-show:hover #right-triangle{	
	border-color: transparent #fff transparent transparent;
}
.new-show:hover .iconline{
	color: #abaaaa;
}
.new-show >section{
	width: 426px;
	margin-top: 175px;
	text-align: center;
}
.button{
	margin: 0 auto;
	width: 168px;
	height: 42px;
	line-height: 40px;
	box-shadow: 0 0 0 1px #fff;
	border: 1px solid #e74f4d;
	cursor: pointer;
}
.iconline{
	display: block;
	margin-top: -8px;
	margin-bottom: 15px;
	font-size: 40px;
	vertical-align: top;
	transition: color 1.5s;
}
.triangle{
	position: absolute;
	top: 245px;
	width: 0;
	height: 0;
	border-width: 24px;
	border-color: transparent transparent transparent #e74f4d;
	border-style: solid;
	transition: all 1s;
}
#right-triangle{
	right: 0;
	border-color: transparent #e74f4d transparent transparent;
}
.image-girl{
	position: absolute;
	top: 0;
	left: 0px;
	opacity: 0;
	z-index: -1;
	transition: all 1s;
}
.image-girl >img{
	width: 426px;
	height: 520px;
}



hgroup{
	padding-top: 120px;
	padding-bottom: 100px;
	text-align: center;
}
hgroup >h6{
	color: #b0b0b0;
}
.iconline2{
	display: block;
	margin-top: -23px;
	margin-bottom: 2px;
	font-size: 40px;
	font-weight: bold;
	vertical-align: top;
	color: #e74f4d;
}
#wrap-article{
	float: left;
	margin: 0 0 143px 140px;
}
#wrap-article h5{
	color: #666160;
	margin-bottom: 23px;
}
#wrap-article article{
	left: 0;
	width: 290px;
	padding-bottom: 20px;
	font-size: 12px;
	color: #9d9b9a;
	overflow: hidden;
}
#wrap-article article p{
	margin-bottom: 4px;
}
.iconpoint{
	font-size: 16px;
	vertical-align: middle;
	float: right;
}
.iconpoint >span{
	margin-left: 7px;
	font-size: 12px;
	vertical-align: top;
}
#wrap-article +form{
	float: left;
	margin-left: 75px;
	width: 639px;
	height: 100px;
}
#wrap-article +form input{	
	border: none;
	margin-bottom: 14px;
	padding: 0 20px;
	background-color: #edecee;
	outline: none;
	font-size: 12px;
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
}
#wrap-article +form input:nth-child(1),
#wrap-article +form input:nth-child(2),
#wrap-article +form input:nth-child(3),
#wrap-article +form input:nth-child(4){
	width: 269px;
	height: 40px;
}
#wrap-article +form input:nth-child(1),
#wrap-article +form input:nth-child(3){
	margin-right: 15px;
}
#wrap-article +form textarea{	
	border: none;
	padding: 11px 18px;	
	margin-bottom: 14px;
	background-color: #edecee;
	outline: none;
	width: 602px;
	height: 98px;	
	resize: none;
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
}
#wrap-article +form button{
	width: 637px;
	height: 40px;
	border: none;
	padding: 0;
	background-color: #edecee;
	outline: none;
	cursor: pointer;
	color: #323333;	
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
}