body{
	margin: 0;
	padding: 0;
	font-family: Arial,Helvetica,sans-serif;
	width: 100%;
	background:linear-gradient(to right, rgb(182,179,183), rgb(206,209,199), rgb(165,162,172));
}
.container{
	margin: 170px auto;
	width: 260px;
}
#logo{
	margin: 0 auto;
	display: block;
}
#logo-title{
	margin: 10px auto;
	text-align: center;
	color: rgb(255,255,255);
	font-size: 24px;
}
.container >form >input{
	width: 190px;
	padding: 0 34px;
	margin-bottom: 14px;
	border:1px solid rgb(122,122,122);
	border-radius: 4px;
	height: 38px;
	display: inline-block;
	background-repeat: no-repeat;
	background-color: #a0a29a;
	color: #fff;
	background-position: 12px 13px;
	outline: none;
}
.container >form >input:focus{
	box-shadow: 0 0 0 5px #b3b6ae;
}
::-moz-placeholder { 
	color: #FFF; 
}
::-webkit-input-placeholder { 
	color:#FFF; 
}
:-ms-input-placeholder { 
	color:#FFF; 
}
.container >form >input:nth-child(1){
	background-image: url(../img/user.png);
}
.container >form >input:nth-child(2){
	background-image: url(../img/key.png);
}
.container >form >button{
	width: 260px;
	height: 36px;
	border: 1px solid #7a7a7a;
	border-radius: 4px;
	background: linear-gradient(to bottom, #ff9251, #ff672e);
	color:#FFF; 
	outline: none;
	font-size: 14px;
}
.container >form >button:active{
	box-shadow: 0 0 0 1px #b3b6ae;
}